
.input {
    border: var(--color-background-borders) solid 0.2rem;
    margin: 0 2rem 1rem 2rem;
    padding: 2rem;
    gap: 1rem;
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: var(--color-text-body);
    background-color: var(--color-background-cards);
    * {
        font-size: 1.5rem;
    }
    label {
        display: grid;
        min-width: 100%;
    }
}