
main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    .view-all {
        height: 4rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    ul {
        padding: 0;
        margin: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 2rem;

        li {
            box-sizing: border-box;
            font-size: 1.5rem;
            background-color: var(--color-background-cards);
            color: var(--color-text-header);
            border: var(--color-background-borders) solid 0.2rem;
            display: grid;
            gap: 1rem;
            justify-content: space-evenly;
            min-height: 2vh;
            text-decoration: none;
            padding: 0.5rem;
            text-align: center;
            * {
                margin: 0;
            }
            .name {
                text-align: center;
                white-space: nowrap;
                overflow: auto;
            }
            .remove {
                color: darkred;
                justify-self: end;
                gap: 1rem;
            }
        }

        .ing {
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        }

    }
}




