.body, body {
    margin: 0;
    color: var(--color-text-body);
    font-family: "Helvetica", sans-serif;
    background-color: var(--color-background-body);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    main {
        height: 100%;
    }
}

button {
    background-color: var(--color-background-header);
    color: var(--color-text-body)
}

input {
    background-color: var(--color-background-body);
    color: var(--color-text-body)
}

select {
    background-color: var(--color-background-body);
    color: var(--color-text-body)
}

textarea {
    background-color: var(--color-background-body);
    color: var(--color-text-body)
}


@media (min-width: 60rem) {
    main {
        grid-area: 1 / 2 / 2 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        margin: 0;
    }

    .body {
        display: grid;
        align-items: start;
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 15vh 1fr;
        gap: 0;
    }
}