.modal {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.2);
    .inner {
        background-color: var(--color-background-body);
        width: 80%;
        padding: 2rem;
    }
    .heading {
        display: flex;
        justify-content: space-between;
        button {
            margin-bottom: 2rem;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 2rem;

        li {
            box-sizing: border-box;
            background-color: var(--color-background-cards);
            color: var(--color-text-header);
            border: var(--color-background-borders) solid 0.2rem;
            display: grid;
            gap: 0.2rem;
            grid-template-rows: 1rem 1fr 2fr;
            min-height: 3vh;
            text-decoration: none;
            padding: 0.5rem;
            text-align: center;
            * {
                margin: 0;
            }
            .head {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                align-items: center;
            }

            .name {
                text-align: center;
                text-wrap: balance;
            }

            .remove {
                width: 5rem;
                height: 2rem;
                justify-self: end;
            }
            .ingredients .ing {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                height: 3rem;
            }

            .steps {
                padding-top: 2rem;
                padding-bottom: 0.3rem;
            }
        }


        .yes {
            background-color: var(--color-div-allow);
        }

        .no {
            background-color: var(--color-div-deny);
        }
    }

}
